ul {
    list-style: none;
    li {
        margin-top: 1ch;
        .arrow {
            margin-right: 1ch;
            cursor: pointer;
            & + span {
                cursor: pointer;
            }
        }
    }
}